*,*::after,*::before{
box-sizing: border-box;
margin: 0;
padding: 0;
}

html{
    color: rgb(187, 75, 97);;

}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(85, 215, 159);
}

.btn{
    margin-top: 25px;
    border: none;
    background-color: inherit;
    color: inherit
}

.btn:hover{
    color: rgb(160, 95, 108);
}

.btn:focus{
    color: rgba(158, 96, 109, 0.714);
}


.box-container{
    width: 500px;
    height:500px;
    background-color: white;
    display: grid;
    /* grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr); */
    border: 2px rgb(137, 101, 107) solid;
    margin-top: 35px;
}

.box{

    border:1px rgb(200, 186, 186) solid;
}